script(src="BrowseAllQuestions/all_questions_view.js")
link(rel="stylesheet" type="text/css" href="dashboard/dashboard.css")
link(rel="stylesheet" type="text/css" href="BrowseAllQuestions/all_questions.css")
link(rel="stylesheet" type="text/css" href="../library/taggle/assets/css/taggle.css")
div(id="create_question_container")
    button(id="create_question", type="button" ,class="btn btn-primary btn-lg",data-toggle="modal", data-target="#myModal") + Question
div(class="modal fade",id="myModal",role="dialog")
div(id="browseAllQuestionContainer")
    div(id='allQuestionHeading') Questions
    br
    div(class="input-group col-md-12")
        div(class="input textarea tagbox" id="tagsInput")
    div(id='all_question_container')
    //button(id="addQuestionsToQuestionPaper", type="button" ,class="btn btn-primary btn-lg") Add To Paper
div(id="questionPreviewContainer")
script(src="../library/taggle/assets/js/jquery-1.10.1.js")
script(src="../library/taggle/assets/js/jquery-ui.js")
script(src="../library/taggle/assets/js/taggle.js")
