script(src="BrowseAllQuestions/all_questions_view.js")
link(rel="stylesheet" type="text/css" href="dashboard/dashboard.css")
link(rel="stylesheet" type="text/css" href="BrowseAllQuestions/all_questions.css")
div(id="create_question_container")
    button(id="create_question", type="button" ,class="btn btn-primary btn-lg",data-toggle="modal", data-target="#myModal") + Question
div(class="modal fade",id="myModal",role="dialog")
div(id="browseAllQuestionContainer")
div(id="questionPreviewContainer")