link(rel="stylesheet" type="text/css" href="../createQuestionPaper/questionToSelect.css")
link(rel="stylesheet" type="text/css" href="./all_questions.css")
script(src="./question_to_show_view.js")
div(id='questionDetailHolder')
    div(id='tagsInQuestionHandler')
        each tag in tags
            div(class="label label-default tagLabel") #{tag}
    div(id='questionContentHandler')
        | !{question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}
    if(answer.trim().length != 0)
        div(id='answerHandler')
            p #{answer}
div(id='buttonContainer')
    button(id="editQuestion", type="button" ,class="btn btn-primary btn-lg",data-toggle="modal", data-target="#myModal") Edit
div(class="modal fade",id="myModal",role="dialog")