.questionP{
    width: 22.6%;
    height: 12%;
    display: inline-block;
    background-color: #4f93ce;
    padding: 5%;
    border: solid 1px;
    margin: 1%;
    border-radius: 6%;
    text-align: center;
    vertical-align: middle;
    font-size: 1vw;
    color:#fff;
}

.questionP:hover{
    background-color: #3b87c8;
}

#create_question_paper{
    width: 22.6%;
    height: 12%;
    display: inline-block;
    background-color: #f0f8ff;
    padding: 5%;
    border: solid 1px;
    margin: 1%;
    border-radius: 6%;
    text-align: center;
    vertical-align: middle;
    font-size: 1vw;
}

#create_question_paper:hover{
    background-color: #f0f0ff;
}

#create_question{
    float: right;
    width: 15%;
    margin: 2%;
    text-align: center;
    font-size: 1.5vw;
}

#create_question_container{
    width: 100%;
    display: inline-block;
}