#papers, #questionsToSelect {
    height: 89%;
    width: 28%;
    border-radius: 5px;
    border: 1px solid #888888;
    padding: 0;
    float: left;
    margin-left: 1%;
    display: inline;
    font-weight: 200;
    font-size: initial;
    font-weight: bold;
    color: #a0a0a0;
    border-color: #D0D1D1;
}

#showQuestionPaper{
    height: 89%;
    width: 69%;
    border-radius: 5px;
    border: 1px solid #888888;
    padding: 10px;
    float: right;
    margin-right: 1%;
    border-color: #D0D1D1;
}

#create_question, #all_question{
    color: #ffffff;
    float: left;
    width: 10%;
    margin-left: 2%;
    text-align: center;
    font-size: 1vw;
    font-family: "Helvetica Neue";
    background-color: #008dca;
}

#create_question_container {
    height: 10%;
}


#st-search-input{
    padding: 1% 0% 1% 5%;
    width: 95%;
    /*height: 3%;*/
    font-weight: 100;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid #888888;
    box-sizing: content-box;
    background-color: #ffffff;
    font-family: "Helvetica Neue";
    margin-bottom: 3%;
    margin-top: 3%;
}

#question_paper_container{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

#no_question_paper_container{
    width: 100%;
    height: 80%;
    top: 30%;
    font-weight: bold;
    color: #a0a0a0;
    text-align: center;
    font-size: x-large;
}

#no_preview_available{
    padding: 5%;
    text-align: center;
    font-weight: bold;
    color: #a0a0a0;
    font-size: large;
    border: dashed;
    margin: 20%;
}

.question_paper_title{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #f8f8f8;
    vertical-align: middle;
    padding: 2.5%;
    font-family: "Helvetica";
    font-weight: initial;
    color: #86868C;
    cursor: hand;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    font-size: medium;
    word-wrap: break-word;
}

.question_paper_title.selected{
    background-color: lightgray;
}

#create_question_paper, #addQuestions{

    vertical-align: bottom;
    width: 100%;
    height: 11%;
    background-color: #008dca;
}

#question_paper{
    height: 90%;
    width: 100%;
    border: 1px solid #888888;
    padding: 1%;
    margin-bottom: 1%;
    background-color: #F9FCFF;
    border-color: #D0D1D1;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: justify;
}

#clone_button, #preview_button, #edit_button{
    color: #ffffff;
    float: inherit;
    width: 15%;
    text-align: center;
    font-size: 1vw;
    font-family: "Helvetica Neue";
    background-color: #008dca;
    margin-left: 5%;
}

#noQuestionPaperAvailable{
    padding-top: 50%;
    height: 5%;
}

#create_question_container{
    width: 100%;
    display: inline-block;
}

#paper_heading{
    padding-left: 4%;
    padding-top: 4%;
    height: 1%;
    font-weight: 400;
}
