script(src="dashboard/dashboard.js")

button(id="create_question" style='height:30px; width: 180px; margin-left: 650px; text-align: middle; display:inline-block;') Create Question
button(id="create_question_paper" style='height:30px; width: 180px; margin-left: 100px; text-align: middle; display:inline-block;') Create Question Paper