script(src="dashboard/question_paper_to_show_view.js")
link(rel="stylesheet" type="text/css" href="./dashboard/dashboard.css")
div(class="row" id="create_question_paper") Create Question Paper
each questionPaper in questionPapers
    div(class="questionP" id='#{questionPaper.id}') #{questionPaper.questionPaperName}