link(rel="stylesheet" type="text/css" href="./dashboard/dashboard.css")
script(src="dashboard/question_paper_to_show_view.js")
div(id='papers')
    div(id='paper_heading') Papers
    li(role='presentation' class='badge') #{questionPapers.length}
    br
    //input(type="text" id="st-search-input" autocomplete="off" placeholder="search" autocorrect="off" autocapitalize="off")
    br
    if questionPapers.length == 0
        div(id='no_question_paper_container')
            div(id='noQuestionPaperAvailable') No Papers Available
    else
        div(id='question_paper_container')
            each qp in questionPapers
                div(class="col-xs-12 jumbotron question_paper_title" id='#{qp.id}') #{qp.header.title}
    button(id="create_question_paper", type="button" ,class="btn btn-primary btn-lg") + Question Paper
div(id='showQuestionPaper')
    div(id='question_paper')
        if questionPapers.length == 0
            div(id='no_preview_available') No Preview Available
        else
            div(id='question_paper_preview')
    div(id='buttons' align="center")
        //button(id="edit_button", type="button" ,class="btn btn-primary btn-lg") Edit
        //button(id="clone_button", type="button" ,class="btn btn-primary btn-lg") Clone
        button(id="preview_button", type="button" ,class="btn btn-primary btn-lg") Preview
