html
    head
        //title #{title}
        link(rel="stylesheet" type="text/css" href="./createQuestionPaper/create_question_paper.css")
        //script(src="../js/jquery-1.7.2.js")
        //script(src="http://www.openjs.com/scripts/events/keyboard_shortcuts/shortcut.js")
    body(class='paperContent')
        h1(class="questionPaperTitle") #{title}
        ol
            each question,index in questions
                li !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}

