script(src="dashboard/question_paper_to_show.js")
link(rel="stylesheet" type="text/css" href="./dashboard/dashboard.css")
div(class="row" id="create_question_paper") create question paper
each questionPaper in questionPapers
    div(class="row" id="questionP") #{questionPaper.questionPaperName}