script(src="./createQuestion/create_question_view.js")
link(rel="stylesheet" type="text/css" href="./createQuestion/create_question.css")
h1 Create Question
div(id="message_alert")
div(id="questionContainer")
    button(id = "markAsCode", class="btn btn-default") Mark as Code
    p(id="questionLabel") Quesion :
textarea(name="question" id="question" cols="75" rows="10")
p Answer :
textarea(name="answer" id="answer" cols="75" rows="10")
button(id="create", class="btn btn-default") Create
