#question{
    height: 30%;
    width: 50%;
    margin-left: 2%;
    margin-bottom: 5px;
}

#answer {
    height: 10%;
    width: 50%;
    margin-left: 2%;
}

#create{
    margin-top: 5px;
    margin-left: 47%;
    /*margin-bottom: 5%;*/
}

#markAsCode{
    margin-bottom: 5px;
    float: right;
    display: inline;
}

#questionLabel{
    margin-bottom: 2px;
    float: left;
    display: inline;
}

#message_alert{
    text-align: center;
}

#questionContainer{
    width: 50%;
}

#tagbox{
    width: 5%;
    margin-left: 30%;
}