#question{
    height: 30%;
    width: 94%;
    margin-left: 2%;
    margin-bottom: 5%;
}

#answer {
    height: 10%;
    width: 94%;
    margin-left: 2%;
    margin-bottom: 5%;
}

#create{
    width: 20%;
    display: inline-block;
    float: right;
    margin-top: 2%;
}

#markAsCode{
    margin-bottom: 2%;
    float: right;
    display: inline;
}

#questionLabel{
    margin-bottom: 2px;
    float: left;
    display: inline;
}

#message_alert{
    text-align: center;
}

#questionContainer{
    width: 94%;
    margin-left: 2%;
}

#tags{
    width: 75%;
    display: inline-block;
    margin-left: 2%;
    float: left;
}

#bottomHolder{
    width: 94%;
    height: 10%;
}

.modal-header{
    background-color: #f0f8ff !important;
}

.modal-dialog{
    margin-top: 10%;
}