#question{
    height: 30%;
    width: 50%;
}

#answer {
    height: 10%;
    width: 50%;
}

#create{
    margin-left: 60%;
    margin-bottom: 5%;
}

#markAsCode{
    margin-bottom: 5px;
    float: right;
    display: inline;
}

#questionLabel{
    margin-bottom: 2px;
    float: left;
    display: inline;
}

#message_alert{
    text-align: center;
}

#questionContainer{
    width: 50%;
}