script(src="./createQuestion/create_question_view.js")
p Quesion :
    button(id = "markAsCode") Mark as Code
    br
    textarea(name="question" id="question" cols="75" rows="10")
p Answer :
textarea(name="answer" id="answer" cols="75" rows="10")
button(id="create") Create
