div(class="modal-dialog modal-lg")
   div(class="modal-content")
      div(class="modal-header")
         button(type="button",class="close",data-dismiss="modal") &times
         h4(class="modal-title") Add Note
      div(class="modal-body")
         | hello
