.mainContainer {
    width: 1330px;
    border: 1px solid;
    margin-left: 50px;
    margin-right: 150px;
}
#selectQuestion {
    margin-top: 50px;
    margin-left: 20px;
    width : 96%;
    height: 600px;

}
#questionsToSelect {
    width: 45%;
    border: 1px solid;
    float: right;
    display: inline-block;
    margin-top: 150px;
    padding: 20px;
}
#add{
    margin-top: 100px;
    margin-left: 1150px;
}
#questionPaperContainer {
    width: 49%;
    border: 1px solid;
    float: left;
    display: inline-block;
    margin-top: 150px;
}

.questionPaperTitle{
    text-align: center;
}
.paperContent{
    margin: 50px;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}