
script(src="./createQuestionPaper/create_question_paper_view.js")
link(rel="stylesheet" type="text/css" href="./createQuestionPaper/create_question_paper.css")
div(class="mainContainer col-xs-2" )
 div(id="questionsToSelect")
 div(id="selectedQuestion")
 button(id="add") add question

