script(src="./createQuestionPaper/create_question_paper_view.js")
link(rel="stylesheet" type="text/css" href="./createQuestionPaper/create_question_paper.css")
div(class="mainContainer col-xs-2" )
 textarea(id = "questionPaperName")
 p Total:
 textarea(id = "totalQuestion")
 div(id="message_alert")
 div(id="questionsToSelect")
 div(id="questionPaperContainer")
 button(id="add") Add question
 button(id="preview") Preview
 button(id="save") Save

