if questions.length == 0
    div(id='no_question_paper_container')
        div(id='noQuestionPaperAvailable') No Questions Available

else

    div(id='question_paper_container')
        each qp in questions
            div(class="col-xs-12 jumbotron questionContainer" id='#{qp.id}')
                div(class='inputBoxContainer')
                    input(type="checkbox" value='#{qp.id}')
                div(class='question')
                    | !{qp.question.split('\n').join('\n').substr(0,100).replace('<code>','<code>').replace('</code>','</code>')}
