script(src="../js/jquery.dataTables.min.js" type="text/javascript")
link(href="../js/jquery.dataTables.min.css" rel="stylesheet" type="text/css")
link(href="./createQuestionPaper/questions_to_select.css" rel="stylesheet" type="text/css")

div(class="table-container")
 table(id="tbl-questionsToSelect" class="display")
  thead
  tbody(class="question")

