script(src="../js/jquery.dataTables.min.js" type="text/javascript")
link(href="../js/jquery.dataTables.min.css" rel="stylesheet" type="text/css")

table(id="tbl-questionsToSelect" class="display")
 thead
 tbody(id="question")

