if questions.length == 0
    div(id='no_question_paper_container')
        div(id='noQuestionPaperAvailable') No Questions Available

else

    div(id='questions_container')

        each qp in questions
            div(class="col-xs-12 jumbotron questionContainer" id='#{qp.id}')
                div(class='inputBoxContainer')
                    input(type="checkbox" value='#{qp.id}' name='#{qp.id}')
                div(class='question')
                    | !{qp.question.substr(0,125).split('\n').slice(0,2).join('<br>').replace('<code>','<code>').replace('</code>','</code>')}
