each question in questions
 div(class="well input-group input-group-lg" style="float:left" ,id="selectedQuestion")
  div(class="questionHeader")
   div(id= "#{question.id}" class="addNote" data-toggle="modal" data-target="#myModal") Add note
   div(id= "#{question.id}" class="remove")  ✖
  | !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}
