code{
    color: black;
    background-color: transparent;
    font-family: Courier New;
}

li {
    padding: 3px;
}

.questionPaperTitle {
    text-align: center;
}

.note {
    margin-bottom: 1.6%;
    margin-left: -1.4%;
    margin-top: 1%;
}

pre {
    font-family: -webkit-body;
    display: inline-flex;
    margin-left: 0.3%;
}

.answerTitle{
    font-weight: bolder;
    margin-left: 2.5%;
    margin-bottom: 1%;
    display: inline-block;
}

.answers{
    display: inline-block;
    margin-left: 1%;;
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol > li {
    padding: 0 0 0 2em;
    counter-increment: item;
}

ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.fullQuestion{
    text-align: justify;
    display: inline-flex;
    margin-left: 0%;
    width: 80em;
    word-wrap: break-word;
    margin-bottom: 1%;
}