code{
    color: black;
    background-color: transparent;
    font-family: Courier New;
    tab-size: 4;
}

li {
    padding: 3px;
}

.questionPaperTitle {
    text-align: center;
}

.note pre {
    margin-bottom: -0.5%;
    margin-left: 2.3%;
    height: inherit;
    white-space: inherit;
}

pre {
    font-family: -webkit-body;
    display: inline-flex;
    margin-left: 0.3%;
}

.answerTitle{
    font-weight: bolder;
    margin-left: 2.5%;
    margin-bottom: 1%;
    display: inline-block;
    margin-top: 1%;
}

.answers{
    display: inline-block;
    margin-left: 1%;;
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol > li {
    padding: 1em 1em 0 2em;
    counter-increment: item;
    margin-top: 1em;
}

ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.fullQuestion{
    white-space: pre-wrap;
    width: 80em;
    margin-left: 5%;
    margin-top: -1.4%;
}

.fullQuestion pre {
    text-align: justify;
    display: inline-flex;
    width: 80em;
    word-wrap: break-word;
    margin-left: -1px;
    margin-top: 0.1%;
}