html
    head
        title #{questionPaper.title}
        link(rel="stylesheet" type="text/css" href="./createQuestionPaper/preview.css")
        script(src="../js/jquery-1.7.2.js")
        script(src="http://www.openjs.com/scripts/events/keyboard_shortcuts/shortcut.js")
        script(src='./Preview/preview.js' type='text/javascript')
    body(class='paperContent')
        h1(class="questionPaperTitle") #{questionPaper.title}
        ol
            each question,index in questionPaper.questions
                li !{question.question.replace('<code>','<pre><code>').replace('</code>','</pre></code>')}