#home {
    cursor: pointer;
}

#title-header{
    background-color: #008dca;
}
code{
    tab-size: 4;
}
.navbar-default {
    background-color: #337AB7;
}

a#home.navbar-brand{
    color: #fff;
    background-color: #008dca;
}

html, body { height: 100% }

#header {
    height: 8%;
}