//title Question paper generator
div(style="height: 10%")
   nav#title-header.navbar.navbar-default.navbar-static-top
      .container
         .navbar-header
            a#home.navbar-brand Question Paper Generator
#container(style="height: 90%")
