
.modal-header {
    background-color: #dbeeff !important;
}

.modal-dialog{
    margin-top: 7.5%;
}

#goToQuestionPaper {
    width: 80%;
    margin-left: 10%;
    height: 16%;
    color: #ffffff;
    font-size: 1em;
    background-color: #008dca;
}

#popUpBody{
    height: 70%;
    width: 100%;
}

#no_result_available{
    padding: 5%;
    text-align: center;
    font-weight: bold;
    color: #a0a0a0;
    font-size: large;
    border: dashed;
    margin: 20%;
}

.body{
    width: 60%;
    margin-left: 24%;
    height: 70%;
}

