link(rel="stylesheet" type="text/css" href="../AddToQuestionPaper/add_to_question_paper.css")
div(class="modal-dialog modal-lg")
    div(class="modal-content")
        div(class="modal-header")
            button(type="button",class="close",data-dismiss="modal") &times
            h4(class="modal-title") Add to question paper
        div(class="modal-body")
            div
